.main {
  display: flex;
  height: calc(100vh - var(--toolbar-height, 0px));
}

.img {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100%;
}

.single {
  max-width: 100%;
}

.double {
  max-width: 50%;
}

.img:first-of-type {
  /* TODO this makes one side smaller than the other by 1 pixel */
  border-right: 1px solid var(--color-border);
}

.img > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img img {
  max-height: 100%;
  max-width: 100%;
}
