.main {
  display: flex;
  height: calc(100vh - var(--toolbar-height, 0px));
  overflow: hidden;
}

.panzoom {
  width: 100%;
  height: 100%;
}

input[type=range] {
  margin-right: var(--toolbar-spacing, 10px);
}
