:root {
  --text: white;
  --tab-height: 2rem;
  --app-height: calc(100% - 2rem);
}

html, body {
  margin: 0;
  padding: 0;

  color: var(--text);
  font-family: sans-serif;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

#tabs {
  height: var(--tab-height);
  border-bottom: 1px solid red;
  margin: 0px;
}

.main {
  display: flex;
}
