.frame .left,
.frame .right {
  --display: flex;

  user-select: none;
  display: none;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.win32 .frame .left,
.win32 .frame .right {
  display: var(--display);
}

.frame {
  display: flex;
}

.frame .content {
  padding-right: 100px;
}

.frame .content,
.frame .content > * {
  flex-grow: 1;
  -webkit-app-region: drag
}

.frame .content > * * {
  -webkit-app-region: no-drag;
}

.frame .butt {
  height: 100%;
  width: 2.2rem;
  background: none;
  border: none;
}

.frame .butt:active,
.frame .butt:focus {
  outline: none;
  border: none;
}

.frame .butt:hover {
  background: red;
}
