.tab-bar {
  background-color: var(--lvl4);
  height: var(--tab-height);
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.tabs {
  display: flex;
  user-select: none;
}

.tab {
  display: flex;
  flex-grow: 1;
  line-height: var(--tab-height);
  padding: 0 10px;
  height: 100%;
  max-width: 180px;
  background: var(--lvl3);
  border-right: 1px solid var(--color-border);

  align-items: center;
}

.tab.selected {
  background: var(--color-background);
}

.view {
  position: absolute;
  top: var(--tab-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.tab span {
  flex-grow: 1;
  font-size: calc(var(--font-size) - 1pt);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab button {
  --size: 1.1rem;

  font-weight: bold;
  text-align: center;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  padding: 0;
  background: none;
  outline: none;
  border: none;
  color: var(--color-text);
  flex-grow: 0;
}

.tab button:hover {
  transform: scale(1.1, 1.1);
  transform-origin: 50% -50%;
}
