.tab-bar {
  background-color: var(--lvl3);
  height: var(--tab-height);
  display: flex;
  align-items: center;
}

.tab {
  flex-grow: 1;
  line-height: var(--tab-height);
  padding: 0 10px;
  height: 100%;
  max-width: 240px;
  background: var(--lvl2);
  border-right: 1px solid var(--lvl4);
}

.view {
  position: absolute;
  top: var(--tab-height);
  bottom: 0;
  left: 0;
  right: 0;
}
