:root {
  --toolbar-spacing: 10px;
}

.toolbar {
  height: var(--toolbar-height, 0px);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 0 var(--toolbar-spacing);
}

.toolbar .sep {
  width: 1px;
  height: calc(100% - var(--toolbar-spacing));
  border-left: 1px solid var(--color-border);
  margin: 0 var(--toolbar-spacing);
}
