.half {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  user-select: none;
  font-size: calc(var(--font-size) - 1pt);

  --pad: 6px;
}

.half:first-of-type::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 1px solid var(--color-border);
}

.half .header {
  display: flex;
  margin: 10px;
}

.half .header span {
  flex-grow: 1;
}

.half .list {
  margin: 10px;
  word-wrap: break-word;
}

.half .list p,
.half .node {
  margin: 0;
  padding: calc(var(--pad) / 2) var(--pad);
}

.half .selected {
  background: var(--color-text);
  color: var(--color-background);
}

.half .directory {
  padding-left: calc(1.5rem);
}

.half .file.missing {
  opacity: 0;
}

.half .icon {
  width: 1.3rem;
  display: inline-block;
  text-align: center;
}
