.directory {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 50%;
  min-height: 100%;
}

.directory:first-of-type {
  border-right: 1px solid var(--color-border);
}

.directory .header {
  display: flex;
  margin: 10px;
}

.directory .header span {
  flex-grow: 1;
}

.directory .list {
  margin: 10px;
  word-wrap: break-word;
}

.directory .list p {
  margin: 0;
  padding: 10px;
}

.directory .list .selected {
  background: white;
  color: black;
}
