.half {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 50%;
  min-height: 100%;
}

.half:first-of-type {
  border-right: 1px solid var(--color-border);
}

.half .header {
  display: flex;
  margin: 10px;
}

.half .header span {
  flex-grow: 1;
}

.half .list {
  margin: 10px;
  word-wrap: break-word;
}

.half .list p {
  margin: 0;
  padding: 6px;
}

.half .list .selected {
  background: var(--color-text);
  color: var(--color-background);
}
